//Fonts

@font-face
{
        font-family: 'Exo 2';
        src: url("../fonts/exo_regular.ttf");
}

@font-face
{
        font-family: 'UnibodyBold';
        src: url("../fonts/unibody8pro-bold.otf");
}

.exoFont { 
        font-family: 'Exo 2',sans-serif; 
} 
 
.unibodyFont { 
        font-family: 'UnibodyBold',sans-serif; 
}
