//Fonts
@font-face {
        font-family: 'Lobster';
        src: url("../fonts/Lobster regular.ttf");
}

.lobster-font { 
        font-family: 'Lobster',sans-serif; 
} 

@font-face {
        font-family: 'Poiret';
        src: url("../fonts/Poiret One regular.ttf");
}

.poiret-font { 
        font-family: 'Poiret',sans-serif; 
} 
 
@font-face {
        font-family: 'Unica';
        src: url("../fonts/Unica One regular.ttf");
}

.unica-font { 
        font-family: 'Unica',sans-serif; 
} 

@font-face {
        font-family: 'Amatic';
        src: url("../fonts/Amatic SC regular.ttf");
}

.amatic-font { 
        font-family: 'Amatic',sans-serif; 
} 

@font-face {
        font-family: Roboto;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        src: url("../fonts/Roboto Condensed 300.ttf");
}

.roboto-font { 
        font-family: 'Roboto',sans-serif; 
} 
