@(languages: List[Language])

	@*Top Menu Items*@
	@menu = @{Html(
		"""<li><a href="./" id="homeBtn"> Home </a></li>
		<li><a href="#page2" id="aboutBtn"> Acerca de </a></li>
		<li><a href=" " id="signInBtn" > Registrarse </a></li>
		<li><a href=" " id="logInBtn" > Ingresar </a></li>
		<li><a href="./blog" id="blogBtn" > Blog </a></li>"""
	)}

	@*Content*@
	@content = {
		<div class="screenBlockw">
			<div class="container-fluid">
				<div class="row"><a name="page2" id="page2">holamundo</a>
					<div class="col-xs-12" style="margin-top:50px;">
						<p id="titulo1"><h2>acerca de expertic</h2></p>
						<h4>este es un prototipo de la página expertic en el cual se desmuestra la funcionalidad así como la experciencia de usuario que se pretende tener en la versión final. el contenido es responsive y los controles intuitivos.
						</h4>
					</div>
				</div>
			</div>
		</div>
	}

	@*Call to page Skeleton*@
	@main(languages)(menu)("titulo")("subtitulo")(content)
