@(currntLang: List[Language], otherLangs: List[Language], langsNum: Int, title: String,subtitle: String)

	@*Top Menu Items*@
@menu = {
	<li><a href="./en/aboutme" id="">About me</a></li>
	<li><a href="./en/portfolio" id="">Portfolio</a></li>
	<li><a href="./en/blog" id="">Blog</a></li>
	<li><span class="liSpacer"> </span></li>
	<li><a href="./@currntLang(0).lang_id" id="">@currntLang(0).lang_desc</a>
	@for(language <- otherLangs) {
		<span class="liPull">/</span>
		<a href="./@language.lang_id" id="" > @language.lang_desc</a>
	}
	</li>
}

@*Main Screen Title*@
@titleBox = {
	<div class="title"><h1>@title</h1></div>
	<div class="subtitle"><h2>@subtitle</h2></div>
}

@*Content*@
@content = {
	@*boxi where i goes from 1 to n, and n = #ofScreenBlocks that has the a given page*@
	<div class="screenBlockw sbox" id="box1">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12" style="margin-top:50px;">
					<p id="titulo1"><h2>Atención: </h2></p>
					<h4>Este sito está siendo actualizado, le ofrecemos una disculpa por los inconvenientes. Si necesita contactar a Erika Sandoval, favor de hacerlo por medio del correo <a href='erikasandovalcastellanos@@gmail.com'>erikasandovalcastellanos@@gmail.com</a>, gracias.</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="screenBlockw sbox" id="box2">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12" style="margin-top:50px;">
					<p id="titulo1"><h2>Page2: </h2></p>
					<h4>This is the page no2</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="screenBlockw sbox" id="box3">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12" style="margin-top:50px;">
					<p id="titulo1"><h2>Page3: </h2></p>
					<h4>This is the page no3</h4>
				</div>
			</div>
		</div>
	</div>
}

@*Call to page Skeleton*@
@main("Erika Sandoval")(currntLang)(menu)(titleBox)(content)
