@(currntLang: List[Language], otherLangs: List[Language], langsNum: Int, title: String,subtitle: String,topMenu:List[TopMenuItem])

	@*Top Menu Items*@
@menu = {
	@for(menuItem <- topMenu) {
		<li><a href=".@menuItem.tmitem_link" id="">@menuItem.tmitem_name</a></li>
	}
	<li><a class="contactBtn" id="contactBtn">Contact</a></li>

	<li><span class="liSpacer"> </span></li>
	<li><a href="../@currntLang(0).lang_id" id=""><span class="underlined">@currntLang(0).lang_desc</span></a>
	@for(language <- otherLangs) {
		<span class="liPull">/</span>
		<a href="../@language.lang_id" id="" > @language.lang_desc</a>
	}
	</li>
}

@*Content*@
@content = {
	@*boxi where i goes from 1 to n, and n = #ofScreenBlocks that has the a given page*@
	<div class="screenBlockw sbox" id="box1">
		<div class="desk" id="innbox1">
		</div>
		<div class="previewBlock">
			<section class="previewTitle"><h2>About Me</h2></section>
			<section class="previewAbstract"><h3>Este sito está siendo actualizado, le ofrecemos una disculpa por los inconvenientes. Si necesita contactar a Erika Sandoval, favor de hacerlo por medio del correo erikasandovalcastellanos@@gmail.com. Gracias.</h3></section>
		</div>
	</div>
	<div class="screenBlockw sbox" id="box2">
		<div class="lamp" id="innbox2">
		</div>
		<div class="previewBlock2">
			<section class="previewTitleW"><h2>Portfolio</h2></section>
			<section class="previewAbstract"><h3>Este sito está siendo actualizado, le ofrecemos una disculpa por los inconvenientes. Si necesita contactar a Erika Sandoval, favor de hacerlo por medio del correo erikasandovalcastellanos@@gmail.com. Gracias.</h3></section>
		</div>
	</div>
	<div class="screenBlockw sbox" id="box3">
		<div class="coffee" id="innbox3">
		</div>
		<div class="previewBlock2">
			<section class="previewTitleW"><h2>Blog</h2></section>
			<section class="previewAbstract"><h3>Este sito está siendo actualizado, le ofrecemos una disculpa por los inconvenientes. Si necesita contactar a Erika Sandoval, favor de hacerlo por medio del correo erikasandovalcastellanos@@gmail.com. Gracias.</h3></section>
		</div>
	</div>
}

@*Call to page Skeleton*@
@main(currntLang)(menu)(title)(subtitle)(content)
