@()
<div id="logIn">
        <ul class="sidebarNav">
                <li class="sidebarClose">
                        <a id="sidebarClose">
                                <span class="icon-closeBold"></span>
                        </a>    
                </li>
                <li>
			<span class="sideBarTitle">Inicia sesión</span>
                </li>
                <li>
                        <form role="form">
                                <div class="form-group">
					<input type="email" class="form-control tabOnEnter" placeholder="Correo electrónico" tabindex="20">
                                </div>
                                <div class="form-group">
					<input type="password" class="form-control tabOnEnter submitForm" placeholder="Contraseña" tabindex="21">
                                </div>
				<button type="submit" class="btn btn-default pull-right tabOnEnter submitForm" tabindex="22">Aceptar</button>
			</form>
                </li>
                <li>
			<a id='passRecovery' class='pushRightTop pull-right' href='' tabindex="23">¿Olvidaste tu contraseña?</a>
                </li>
        </ul>
</div>
