@(title: String)(languages: List[Language])(menu: Html)(titleBox: Html)(content: Html)(implicit lang: Lang)
@import play.api.Play.current 

<!DOCTYPE html>

 <html lang="@languages(0).lang_desc">
    <head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
        <title>@title</title>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.at("images/erikasc.ico")">
    </head>
    <body>
	<div id="pageWrapper" class="pageWrapper">
		<div class="sideBarWrapper" id="sideBarWrapper">
			@login()
			@signin()
		</div>
		<div id="contentWrapper" class="contentWrapper">
			<div id="menuBar" class="menuBar toggleColorTop" role="navigation">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collMenuBar">
							Menu
					 	</button>
					</div>
					<div class="collapse navbar-collapse" id="collMenuBar"> 
						<ul class="nav navbar-nav navbar-left">
							@menu
						</ul>
					</div>
				</div>
			</div>
			<div class="screenBlock">
				<div class="frontBox">
					<div class="titleBox">
						@titleBox
					</div>
					<div class="arrowBox">
						<div class="arrowDown"><a href="#page2"><span class="icon-arrowDown"></span></a></div>
					</div>
				</div>
			</div>
				@content
		</div>
	</div>
        <script src="@routes.Assets.at("lib/jquery/jquery.min.js")"></script>
        <script src="@routes.Assets.at("lib/jquery-ui/jquery-ui.min.js")"></script>
        <script src="@routes.Assets.at("lib/bootstrap/js/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/main.js")"></script>

	<!--Move js to apropriate file after testing-->
	<script>
		$(document).ready(function() {
			toggleSideBar("#logInBtn","#logIn","#signIn");
			toggleSideBar("#signInBtn","#signIn","#logIn");
			closeSideBar("#sidebarClose","#signIn","#logIn");
			scrollColor("#menuBar","toggleColorTop","toggleColorNop");
			formBehavior();
			collapseMenuBar("#menuBar","#collMenuBar");
			;(function($) {
				"use strict";
				var instance, proto;
				var counter1 = 0;
				function ScrollDisabler($container) {
					this.$container = $container;	
				}
				proto = ScrollDisabler.prototype;
				proto.disabl = function() {
					var t = this;	
					t.$container.on(
						"mousewheel.disablescroll DOMMouseScroll.disablescroll touchmove.disablescroll", t._handlewheel
					);
				};
				proto._handlewheel = function(e) {
					e.preventDefault();
				};
				proto.enabl = function() {
					var t = this;	
					t.$container.off(".disablescroll");
				};
				$.fn.disablScrllng = function(opt) {
					if (!instance) {
						instance = new ScrollDisabler(this);
					}
					if (instance && typeof opt === "undefined") {
						instance.disabl();
					}
					if (instance && opt === "enable") {
						instance.enabl();
					}
				};
			})(jQuery);
			var counter = 0;
			var counter3 = 0;
			var handled = false;
			animScroll = function(e) {
				counter = counter + 1;
				console.log("main: "+counter);
				$this = $(this);
				$this.off("mousewheel DOMMouseScroll touchmove",animScroll);
				$('body').animate({scrollTop: $("#page2").offset().top},750,'easeInOutQuint',function() {
				counter3 = counter3 + 1;
				console.log("main2: "+counter3);
				$this.on("mousewheel DOMMouseScroll touchmove",animScroll);
				});
			}
			$win = $(window);
			$win.disablScrllng();
			$win.on("mousewheel DOMMouseScroll touchmove",animScroll);
		});
	</script>
    </body>
</html>

