@()
<div id="signIn">
        <ul class="sidebarNav">
                <li class="sidebarClose">
			<a id="sidebarClose">
				<span class="icon-closeBold"></span>
			</a>
                </li>
                <li>
			<span class="sideBarTitle">Registrate</span>
                </li>
		<li>
			<form role="form">
				<div class="form-group">
					<input type="text" class="form-control tabOnEnter" tabindex="30" placeholder="Nombres">
				</div>
				<div class="form-group">
					<input type="text" class="form-control tabOnEnter" tabindex="31" placeholder="Apellido paterno">
				</div>
				<div class="form-group">
					<input type="text" class="form-control tabOnEnter" tabindex="32" placeholder="Apellido materno">
				</div>
				<div class="form-group">
					<input type="email" class="form-control tabOnEnter" tabindex="33" placeholder="Correo electrónico">
				</div>
				<div class="form-group">
					<input type="password" class="form-control tabOnEnter submitForm" tabindex="34" placeholder="Contraseña">
				</div>
				<button type="submit" class="btn btn-default pull-right tabOnEnter submitForm" tabindex="35">Aceptar</button>
			</form>

                </li>
        </ul>
</div>
